  <div class="page-header header-filter" data-parallax="true" 
  style="background: url('assets/img/cover.jpeg');height:650px;background-size: cover">
    <div class="container">
      <div class="row"> 
        <div class="col-md-6  ml-auto mr-auto">      
          <div class="container">
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                   <div class="logo" style="text-align: center;margin-top:30px" >
                    <img src="assets/img/user.png" style="width:30%;border-radius:50%">
               </div>
             <app-loader></app-loader>
            <form class="form" [formGroup]="onLoginForm" >
              <div class="card card-login" style="margin-top:30px;border-radius: 20px;
                background-color: #0000007a;">
                <div class="card-header card-header-rose text-center" style="background: linear-gradient(60deg, #00a1e9, #040b21);">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">                   
                  </div>
                </div>
                <div class="card-body ">
                  <span class="bmd-form-group">
                    <div class="input-group" style="padding: 24px;">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons" style="color:#fff">email</i>
                        </span>
                      </div>
                      <input type="mobile" class="form-control" maxlength="10" 
                      minlength="10" pattern="[0-9]*" 
                      formControlName="mobile"  
                      placeholder="Mobile..." style="color:#fff">
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group" style="padding: 24px;">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons" style="color:#fff">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" style="color:#fff"
                      formControlName="password" class="form-control"  placeholder="Password...">
                    </div>
                  </span>
                </div>
                <div class="card-footer justify-content-center">
                  <input type="button" class="btn btn-primary" [disabled]="onLoginForm.invalid" value="Sign in" (click)="onSubmit(onLoginForm)">
                </div>
              </div>
            </form>
          </div>
        </div>
       </div>
        </div>
      </div>
    </div>
  </div>

