<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                  	<span class="pull-left">
                      <h4 class="card-title ">Student List</h4>
                      <p class="card-category"> Display the list of student registered</p>
                    </span>
                    <span class="pull-right">
                       <a mat-button class="btn btn-success" (click)="addStudent()"
             	 			href="javascript:void(0)" data-toggle="modal" data-target="#modalYT">
		                  <i class="material-icons">save</i> Add Student
		                  <div class="ripple-container"></div>
              		</a>
                    </span>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Address
                                  </th>
                                  <th>
                                      Mobile
                                  </th>
                                  <th>
                                      Email
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let v of studentList">
                                   	<th>
                                      {{v.name}}
                                  </th>
                                  <th>
                                      {{v.address}}
                                  </th>
                                  <th >
                                      {{v.mobile}}
                                  </th>
                                  <th>
                                      {{v.email}}
                                  </th>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                      <div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Add New Student</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					       <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" [(ngModel)]="student.name">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" type="email" [(ngModel)]="student.email">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mobile" type="text" [(ngModel)]="student.mobile">
                                  </mat-form-field>
                              </div>
                             
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <textarea matInput placeholder="Address" type="text"
                                  [(ngModel)]="student.address"></textarea>
                                </mat-form-field>
                              </div>
                            
                          </div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary" (click)="saveStudent()">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>
