<div class="container-fluid">
 <div class="row">
	<div class="col-md-3">
	</div>	
	<div class="col-md-6">
		<h3 class="card-title" style="text-align: center">Search for Subjects</h3>
		<!--<div class="input-group no-border">
    <input type="text" value="" class="form-control" placeholder="Search...">
    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
    </button>

   </div>-->
   	<form class="example-form" style="margin: auto;">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
	</div>		
	<div class="col-md-3">
</div>		
</div>
</div>