<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                  <span class="pull-left">
                    <h4 class="card-title ">Sorting Example</h4>
                   </span>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        <div class="example-header">
                        <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                      </div>
                      <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>

                          <!-- ID Column -->
                          <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                          </ng-container>

                          <!-- Progress Column -->
                          <ng-container matColumnDef="progress">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                          </ng-container>

                          <!-- Color Column -->
                          <ng-container matColumnDef="color">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;">
                          </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                        <!--  <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                      <i  appSortParams (click)="setSortParams('asc','name','string')" class="fa fa-arrow-up" id="nameAsc"></i>
                                      <i appSortParams (click)="setSortParams('desc','name','string')" class="fa fa-arrow-down sorting" id="nameDesc"></i>
                                  </th>
                                  <th> 
                                      Country
                                  </th>
                                  <th>
                                      City
                                       <i  appSortParams (click)="setSortParams('asc','city','string')" class="fa fa-arrow-up" id="cityAsc"></i>
                                      <i appSortParams (click)="setSortParams('desc','city','string')" class="fa fa-arrow-down sorting" id="cityDesc"></i>
                                  </th>
                                  <th>
                                      Salary
                                       <i  appSortParams (click)="setSortParams('asc','salary','number')" class="fa fa-arrow-up" id="salaryAsc"></i>
                                      <i appSortParams (click)="setSortParams('desc','salary','number')" class="fa fa-arrow-down sorting" id="salaryDesc"></i>
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let v of users">
                                      <td>
                                          {{v.id}}
                                      </td>
                                      <td>
                                          {{v.name}}
                                      </td>
                                      <td>
                                          INDIA
                                      </td>
                                      <td>
                                          {{v.city}}
                                      </td>
                                       <td>
                                          {{v.salary}}
                                      </td>
                                  </tr>                                  
                              </tbody>
                          </table>-->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
