.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#xyz {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}