<div class="main-content" id="xyz">
	<!--<div class="container-fluid">
      <div class="card">
	<div class="row">
      <div class="col-md-12">
	  <mdb-carousel [animation]="'slide'">
	  <mdb-carousel-item>
	    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
	  </mdb-carousel-item>
	  <mdb-carousel-item>
	    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
	  </mdb-carousel-item>
	  <mdb-carousel-item>
	    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
	  </mdb-carousel-item>
	 </mdb-carousel> 
     </div>
  </div> 
  </div>
  </div>  -->	
  <!--<div class="container-fluid">
  	 <div class="row">
  		<div class="col-md-3">
  		</div>	
  		<div class="col-md-6">
  			<h3 class="card-title" style="text-align: center">Search for Subjects</h3>
  			<div class="input-group no-border">
		    <input type="text" value="" class="form-control" placeholder="Search...">
		    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
		        <i class="material-icons">search</i>
		        <div class="ripple-container"></div>
		    </button>
		   </div>
  		</div>		
  		<div class="col-md-3">
  	</div>		
  </div>
  </div> -->
  <app-search></app-search>  
         	
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Home</h3>
              <p class="card-category">Video Streaming Service
              
              </p>
          </div>
          <div class="card-body"> 
              <div class="row">
                  <div class="col-md-3">
                  	<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>	
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					  
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>
                 
              </div>         	 
              <div class="row">
                  <div class="col-md-3">
                  	<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>	
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					  
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>
                   <div class="col-md-3">
                  		<mat-card class="example-card">
					  <mat-card-header>
					    <div mat-card-avatar class="example-header-image"></div>
					    <mat-card-title>Shiba Inu</mat-card-title>
					    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
					  </mat-card-header>
					  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					  <mat-card-content>
					   
					  </mat-card-content>
					  <mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					  </mat-card-actions>
					</mat-card>
                  </div>                 
              </div>
			<app-bar></app-bar>
			
          </div>           
      </div>
  </div>
</div>
